@page "/MostrarArtistas"
@inject ArtistaAPI artistaAPI
<PageTitle>Mostrar Artistas</PageTitle>

<style>
    .Menu {
        text-align: center;
        font-size: 30px;
        color: blue;
        font-family: 'Times New Roman', Times, serif, sans-serif;
    }
</style>

<h3 class="Menu">Mostrar Artistas</h3>
<h3>Artistas</h3>
@if (artistas is not null)
{
    foreach (var artista in artistas)
    {
        <p>@artista.Nome</p>
    }
}

@code {
    private ICollection<ArtistaResponse>? artistas;
    protected override async Task OnInitializedAsync()
    {
        artistas = await artistaAPI.GetArtistasAsync();
    }
}
