@page "/MostrarArtistas"
<PageTitle>Mostrar Artistas</PageTitle>

<style>
    .Menu {
        text-align: center;
        font-size: 30px;
        color: blue;
        font-family: 'Times New Roman', Times, serif, sans-serif;
    }
</style>
<p>@Mensagem</p>

<h3 class="Menu">Mostrar Artistas</h3>

@code {
    public string Mensagem { get; set; } = "Olá Mundo!!";
}
